@use "../abstracts/mixins" as m;

.coche-detalle {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 40px;
    align-items: start;

    margin: auto;
}

@media (max-width: 768px) {
    .coche-detalle {
        grid-template-columns: 1fr; // una sola columna
    }
}

.detalle-page{
    @include m.flex-center;
}

.coche-detalle__img {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .imagen-principal {
        width: 100%;
        height: 300px;
        position: relative;
        cursor: default;
        border-radius: 12px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

            transition: opacity 0.2s ease, transform 0.2s ease;

            &.fade-out{
                opacity: 0;
                transform: scale(0.98);
            }

            &.fade-in{
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    .carousel-miniaturas{
        width: 100%;
        display: flex;
        gap: 10px;
        overflow-x: auto; // permite scroll horizontal
        padding-bottom: 5px; // Espacio para el scroll
        scrollbar-width: thin; // Firefox
        scrollbar-color: #888 transparent; // Firefox
        -webkit-overflow-scrolling: touch; // smooth scroll en móvil
        border-radius: 5px;

        // Opcional: estilos para scrollbar en Chrome/Safari
        &::-webkit-scrollbar {
            height: 6px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 5px;
        }

        .miniatura{
            flex: 0 0 auto; // Evita que se reduzcan
            width: 170px;
            height: 90px;
            object-fit: cover;
            border-radius: 5px;
            
            cursor: pointer;
            transition: transform 0.2s;

            &:hover{
                transform: scale(1.05);
            }

            &.active{
                cursor: initial;
                pointer-events: none;
                border: 2px solid burlywood;
                opacity: 0.7;
            }
        }
    }

}

.coche-detalle__info {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
        font-size: 2rem;
        font-weight: 900;
    }

    .detalle-extra{
        height: auto;
        p{
            margin: 0;
            &:not(:last-child){
                margin-bottom: .3rem;
            }    
        }
    }

    .info-txt{
        width: 100%;
        height: 110px;
        padding: .5rem 1rem;
        border: 1px solid black;
        border-radius: 8px;
        margin: .3rem 0 1rem;
        overflow-y: auto;
    }
}

.coche-detalle__img,
.coche-detalle__info {
    width: 100%; // opcional, pero consistente
    min-width: 0;
}