// Variables
$primary: burlywood;
$secondary: #1d2936;
$body-color: $secondary;
$btn-secondary-color: white;

$text-color: $secondary;

$bg-light: #f8f9fa;

$font-primary: "Inter", sans-serif;
$font-secondary: "Playfair Display", serif;

$spacing: 1rem;
$border-radius: 6px;

// Spacing
//$mp-sm: 
