// HEADER - FOOTER - GRID

@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

// HEADER
.header {
    background-color: v.$secondary-color;
    color: white;
    padding: v.$spacing;
    .container{
        @include m.container;
        @include m.flex-center;
        justify-content: space-between;
    }
}

// MAIN
.main-content{
    flex: 1;
}


// FOOTER
.footer {
    background-color: v.$secondary-color;
    color: white;
    text-align: center;
    padding: v.$spacing;
    margin-top: 2rem;
}

